<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Modesty Status.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Modesty WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Modesty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2991D27A1944EF6400C856D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299943FB186A08880038D92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2999441F186A08890038D92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29BDEF951ADBFAFE0025A835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
